*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.logo{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}

nav ul{
    float:right;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    transition: .5s;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    background-color: #297bb2;
    color: white;
}
.checkbtn{
    float: right;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    
    background: url(/Photo/Banner.jpg) no-repeat;
    background-size: cover;
    background-position:right;
    height:calc(100vh - 85px);
    width: 100%;
}
section img{
    width: 100%;
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
   }
   ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 1s;
    display: flex;
    flex-direction: column;
}
    nav ul li{
      display: block;
      margin: 29px 0;
      line-height: 30px;

    }
    nav ul li a{
      font-size: 20px;
      color: white;
      

    } 
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left:0 ;
    }
   
}




.landing-page{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url('Assets/images/landingimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    align-items: center;
}

.landing-content{
    max-width: 700px;
    margin-left: 100px;
    color: white;
    
}
.landing-content h1{
    font-size:80px ;
}
.land-btn{
    padding: 10px;
    width: 100px;
    margin-left: 6px;
    margin-top: 15px;
    border: none;
}

.first-section{
    width: 100%;
    height: auto;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 45px;
}


.box{
    width: 270px;
    height: 270px;
    background-color: rgba(116, 236, 236, 0.09);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cap{
    font-size: 65px;
}
.second-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.second-section-image{
    width: 650px;
    height: 440px;
    background-image: url('Assets/images/sec-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section-content{
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;

}
.aboutus{
    width: auto;
    height: auto;
    display: flex;
   
}
.line1,.line2{
    align-items: start;
    height: 3px;
    background-color: aqua;
    margin: 3.5px;
  
    
}

.line1{
    width: 50px;
}
.line2{
    width: 80px;
}
.linecont{
    width: auto;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 10px;
}
.specifications{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.lists{
    width: 300px;
    height: auto;
    padding: 35px;
    line-height: 30px;
    font-size: 20px;
}
.lists ul li i{
    margin-right: 10px;
    
}

.third-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 49px;
}
.head{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories{
    width: auto;
    height: auto;
    display: flex;

}
.linecont2{
    width: auto;
    height: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  
}
.categoryline1,.categoryline2{
    align-items: start;
    height: 3px;
    background-color: aqua;
    margin: 3.5px;  
}

.categoryline1{
    width: 50px;
}
.categoryline2{
    width: 80px;
}

.gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left{
    width: 48%;
    height: 550px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.right{
    width: 48%;
    height: 560px;
    margin: 10px;
    background-image: url('Assets/images/onlinemarketing.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top{
    width: 100%;
    height:264px ;
    background-image: url('Assets/images/web.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.low{
    width:100%;
    height: 264px;
    background-color: rgb(252, 251, 251);
    display: flex;
    justify-content: space-between;
}
.one{
    width: 49%;
    height:275px;
    background-image: url('Assets/images/graphic.avif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.two{
    width: 49%;
    height:275px;
    background-image: url('Assets/images/editing.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.web {
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 3px; 
    right: 3px; 
    padding: 10px;
}
.video{
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 3px; 
    right: 3px; 
    padding: 10px;

}
.graphic{
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 3px; 
    right: 3px; 
    padding: 10px;
}
.Online{
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 3px; 
    right: 3px; 
    padding: 10px;

}


.fourth-section{
    width: 100%;
    height: auto;
    padding: 63px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.popular-cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 40px;
}
.pop-card{
    width: 400px;
    height: auto;
    background-color: rgba(5, 251, 251, 0.084);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.namebox{
    width: 33.33%;
    padding: 4px;
    height: auto;
    border: 1px solid rgb(207, 205, 205);
    margin-top: 15px;
}
.fifth-section{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 59px;
    
}
.exp-card-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
}
.expert-card{
    width: 300px;
    height: 450px;
    background-color: rgba(5, 251, 251, 0.084);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.iconssocial{
    width: 150px;
     height: auto;
     display: flex;
     justify-content: space-around;
     background-image: linear-gradient(to bottom, white 50%,rgba(5, 251, 251, 0.084)); 
    padding: 4px;
     position: absolute;
     top: 330px;
}
.social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.iconnn{
    background-color: rgb(2, 252, 252);
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.social i{
    margin: 10px;
}

.sixthsection{
    width: 100%;
    height: auto;
    padding: 59px;

}
.reviewcardcontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.reviewcard2,.reviewcard1,.reviewcard3{
    width: 400px;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.picicon{
    width: 110px;
    height: 110px;
    background-color: #fefdfd;
    border-radius: 50%;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconpic{
    width: 90px;
    height: 90px;
    background-color: #393737;
    border-radius: 50%;
    background-image: url('Assets/images/review1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.rvww1{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgba(5, 251, 251, 0.241), white);
}
.rvww2{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
}
.rvww3{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(5, 251, 251, 0.222), white);
}
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 59px;
}
.upper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 2px;
}

.box1{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.box1 li{
    margin-top: 5px;
}
.box1 li i{
    margin: 5px;
}
.box2{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.box2 li i{
    margin: 5px;
    margin-right: 5px;
}
.mediaicons{
    display: flex;
    width: auto;
    height: auto;
    padding: 5px;   
}
.media{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    margin-top: 10px;

}
.box3{
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.imagecont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.imageee{
    width: 33.33%;
    height: 100%;
    padding: 3px;

}
.div1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.box4{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
}



@media (max-width:480px){
    
    
.landing-page{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url('Assets/images/landingimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.landing-content h1 {
    font-size: 50px;
}
.landing-content {
    width: 500px;
    color: white;
    margin-right: 40px;
}


.first-section{
    width: 100%;
    height: auto;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box{
    width: 270px;
    height: 270px;
    background-color: rgba(116, 236, 236, 0.212);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.second-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 20px; 
}
.second-section{
    height: auto;
}

.contentabout p {
    width: 100%; 
    max-width: 300px; 
    font-size: 14px; 
    margin-bottom: 20px; 
}

.lists {
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 20px;
    padding: 10px;
    
}

.lists ul li {
    font-size: 14px;
    

}
.second-section-content h1{
    font-size: 30px;
    margin-bottom: 10px;

}

.gallery {
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.right {
    width: 48%;
    height: 300px;
    margin: 10px;
    background-image: url(Assets/images/onlinemarketing.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.low {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one {
    width: 100%;
    height: 300px;
    background-image: url(Assets/images/graphic.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.two {
    display: none;
    width: 100%;
    height: 300px;
    background-image: url(Assets/images/graphic.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.pop-card {
    width: 300px;
    height: auto;
    background-color: rgba(5, 251, 251, 0.084);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.expert-card{
    width: 300px;
    height: 450px;
    background-color: rgba(5, 251, 251, 0.084);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}
.popular-cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
}
.reviewcard1,.reviewcard2,.reviewcard3{
    margin-left: 60px;
}
.smallboxes{
    margin-left: 60px;
 
}
.head{
    margin-left: 60px;
}

}